.container{
    display:flex;
    background-color: aqua;
    align-items: center;
    justify-content: space-evenly;
    height: 600px;
    gap: 40px;
}

.container>div{
    background-color: coral;
    margin: 10px;
    padding: 40px;

    font-size: 45px;
    flex-basis: 20px;
}