* {
    box-sizing: border-box;

}

body {
    background-color: beige;
}

header {
    z-index: 1;
    position: sticky;
    top: 10px;
    border: 2px solid black;
    width: 90%;
    margin: auto;
    background-color: grey;
    border-radius: 20px;

}

header img {
    display: block;
    margin: auto;
    width: 30%;
    border-radius: 50%;
    margin-top: 20px;
    border: 4px solid white;
}

header h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.container {
    z-index: 0;
    position: relative;
    width: 90%;
    margin: auto;
    border: 2px solid black;
    margin-top: 40px;
    border-radius: 20px;
    background-color: black;
    text-align: center;

}

.box {
    position: relative;
    display: inline-block;
    width: 25%;
    border: 2px solid brown;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    background-color: brown;
    height: 250px;
}

